<!--<p>Sidebar Burasiii</p>
-->
<!--<ul>
  <li><a routerLink="/admin">Dashboard</a></li>
  <li><a routerLink="todos">Todos</a></li>
  <li><a routerLink="">Siteyi Gör</a></li>
</ul>

<mat-drawer-container class="example-container">
  <a mode="side" opened routerLink="/admin">Dashboard</a>
  <a mode="side" opened routerLink="/admin">Dashboard</a>
  <a mode="side" opened routerLink="/admin">Dashboard</a>

  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>-->
<!--
<mat-list role="list">
  <a role="listitem" routerLink="/admin">Dashboard</a>
  <br><a role="listitem"  routerLink="todo">ToDo</a>
  <br><a role="listitem"  routerLink="">Siteyi Gör</a>
</mat-list>
-->
